@font-face {
  font-family: "cookfont";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3474012/cook.woff")
    format("woff");
}

* {
  font-family: cookfont;
}

.App {
  padding-top: 50px;
  text-align: center;
}

body {
  background-color: #e6e1dd;
}

.select {
  width: 650px;
  margin: auto;
  padding-top: 30px;
}

.button {
  background-color: #e6e1dd;
  border: none;
  font-size: 18px;
}
